@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

:root {
  --rojo: #d63c3c;
  --azul: #3e4560;
  --celeste: #3c7ad6;
  --primary: #f3f3f3;
  --secondary: #d9d9d9;
}

::selection {
  background-color: var(--azul);
  color: white;
}

.body {
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--azul);
}

/* FOOTER */

.footer {
  background-color: black;
}

.footer-desktop {
  display: none;
}

.footer-info {
  padding: 30px 25px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.logo-footer {
  height: 25px;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0px auto;
  height: 100%;
  width: 100%;
}

.footer-icon {
  height: 25px;
  transition: all ease-in-out 150ms;
  cursor: pointer;
}

.footer-icon.youtube:hover {
  background-color: #ff0000;
  border-radius: 3px;
  padding: 3px;
  justify-self: center;
  align-self: center;
}

.footer-icon.facebook:hover {
  background-color: #4267b2;
  border-radius: 3px;
  padding: 3px;
  justify-self: center;
  align-self: center;
}

.footer-icon.instagram:hover {
  background-color: #833ab4;
  border-radius: 3px;
  padding: 3px;
  justify-self: center;
  align-self: center;
}

.nav-footer {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0px auto;
}

.nav-footer--item {
  color: white;
  padding-right: 15px;
  border-right: 1px solid white;
  font-size: 12px;
  font-weight: 400;
}

.nav-footer--item:last-child {
  padding-right: 0px;
  border-right: none;
}

.copy {
  color: white;
  margin: 0px auto;
  font-size: 10px;
  font-weight: 200;
}

@media (min-width: 768px) {
  /* FOOTER */

  .footer-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .nav-footer-desktop {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0px auto;
  }

  .footer-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    max-width: 1340px;
    margin: 0px auto;
    padding: 0px 50px;
  }

  .nav-footer {
    display: none;
  }

  .nav-footer--item {
    font-size: 12px;
    font-weight: 200;
  }

  .copy {
    display: none;
  }

  .copy-desktop {
    font-size: 12px;
    color: white;
  }

  .social-media {
    justify-content: end;
  }
}
