@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

:root {
  --rojo: #d63c3c;
  --azul: #3e4560;
  --celeste: #3c7ad6;
  --primary: #f3f3f3;
  --secondary: #d9d9d9;
}

::selection {
  background-color: var(--azul);
  color: white;
}

.body {
  width: 100vw;
  overflow: hidden;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: var(--azul);
}

/* REGISTER */

.content {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.image-container-desktop {
  display: none;
}

.background-img {
  object-fit: cover;
  object-position: center center;
  position: absolute;
  z-index: -50;
  width: 100vw;
  height: 100%;
}

.section-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.login-container {
  background-color: white;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--azul);
  text-transform: uppercase;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login-label {
  font-size: 14px;
  font-weight: 400;
  color: var(--azul);
}

.login-input {
  height: 40px;
  background-color: var(--primary);
  border: none;
  padding: 10px;
  color: #818381;
}

.login-input::placeholder {
  font-size: 14px;
}

.login-button {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 40px;
  background-color: var(--celeste);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.recoverPassword {
  color: var(--celeste);
  font-size: 14px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  /* LOGIN */

  .login-container {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .background-img {
    display: none;
  }

  .content {
    background-color: var(--primary);
  }

  .image-container-desktop {
    display: block;
  }

  .section-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 800px;
    max-width: 1536px;
    margin: 0px auto;
  }

  .image-container-desktop {
    overflow: hidden;
  }

  .background-img-desktop {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .inputs-container {
    display: flex;
    gap: 10px;
  }

  .input-container {
    width: 100%;
  }
}
