<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nomada</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <div class="hero">
        <div class="hero-img-container">
          <div class="hero-img-cover"></div>
          <img src="./Images/banner.png" class="hero-banner" />
        </div>
        <div class="hero-info-container">
          <h1 class="hero-title">
            Estilo y Pasión Sobre Ruedas: Tu aventura comienza aquí.
          </h1>
          <p class="hero-text">
            Explora nuestra colección de artículos e indumentaria diseñados para
            aquellos que buscan más que un simple viaje. Desde equipos de
            protección hasta accesorios con estilo, estamos aquí para
            acompañarte en cada aventura sobre dos ruedas.
          </p>
          <div class="hero-buttons">
            <a class="hero-button">
              <button class="hero-button-tag">lorem ipsum</button>
            </a>
            <a class="hero-button">
              <button class="hero-button-tag variant">lorem</button>
            </a>
          </div>
        </div>
      </div>

      <div class="nosotros" id="nosotros">
        <h3 class="section-title">Sobre Nosotros</h3>
        <p class="section-text">
          Nosotros somos Nómada, apasionados por el rugir de los motores y la
          libertad que solo las dos ruedas pueden ofrecer. Desde nuestros
          humildes comienzos, nos hemos convertido en un destino emblemático
          para todos los entusiastas de las motocicletas. Fundado por un equipo
          de amantes de las motos, nuestro objetivo es más que simplemente
          vender productos: queremos ser parte de tus aventuras.
        </p>

        <p class="section-text">
          Cada artículo en nuestra selección ha sido cuidadosamente elegido para
          reflejar la esencia de la cultura motociclista y satisfacer las
          necesidades de nuestros clientes. Ya sea que estés buscando equipo de
          protección de primera calidad, accesorios innovadores o ropa que
          combine estilo y funcionalidad, Nómada es tu compañero de confianza en
          el camino.
        </p>

        <p class="section-text">
          Nuestra pasión por las motocicletas nos impulsa a ofrecer un servicio
          excepcional. Nuestro equipo no solo está compuesto por expertos en
          productos, sino también por verdaderos apasionados que comprenden las
          necesidades de la comunidad motera. Estamos aquí para compartir
          consejos, responder preguntas y asegurarnos de que encuentres
          exactamente lo que buscas.
        </p>

        <p class="section-text">
          Únete a nosotros en esta emocionante travesía. Ya seas un motociclista
          experimentado o estés dando tus primeros pasos en el mundo de las dos
          ruedas, Nómada te acompaña en cada kilómetro. ¡Bienvenido a la familia
          Nómada
        </p>
      </div>

      <div class="category" id="categorias">
        <h3 class="section-title">Categorias</h3>

        <div class="categoryCard-container">
          <div class="category-bg"></div>
          <div class="category-card">
            <img
              src="./Images/category01.png"
              alt="imagen categoria cascos"
              class="category-img"
            />

            <p class="category-title">cascos</p>

            <ul class="categoryItems-container">
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
            </ul>
          </div>

          <div class="category-card">
            <img
              src="./Images/category02.png"
              alt="imagen categoria indumentaria"
              class="category-img"
            />

            <p class="category-title">indumentaria</p>

            <ul class="categoryItems-container">
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
            </ul>
          </div>

          <div class="category-card">
            <img
              src="./Images/category03.png"
              alt="imagen categoria guantes"
              class="category-img"
            />

            <p class="category-title">guantes</p>

            <ul class="categoryItems-container">
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
            </ul>
          </div>

          <div class="category-card">
            <img
              src="./Images/category04.png"
              alt="imagen categoria baules"
              class="category-img"
            />

            <p class="category-title">baules</p>

            <ul class="categoryItems-container">
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
              <li class="category-item">
                <p class="category-item-text">lorem ipsum</p>
                <img
                  src="./Images/category-arrow.svg"
                  alt="category arrow"
                  class="category-arrow"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="products">
        <h3 class="products-section-title">Productos destacados</h3>

        <div class="products-container">
          <div class="product-item">
            <img
              src="./Images/product-img.png"
              alt="foto producto"
              class="product-img"
            />
            <div class="product-info">
              <div class="product-info-text">
                <div class="product-text">
                  <p class="product-name">
                    Campera Moto Fourstroke Warrior Wp Protecciones
                  </p>
                  <p class="product-price">$ 81.885</p>
                </div>
                <div class="product-envio">
                  <img
                    src="./Images/truck.svg"
                    alt="icono envio"
                    class="envio-icon"
                  />
                  <p class="product-envio-text">Envio gratis</p>
                </div>
              </div>
              <div class="icons-container">
                <img
                  src="./Images/Vector.svg"
                  alt="icono favorito"
                  class="product-icon"
                />
                <img
                  src="./Images/ojo.svg"
                  alt="icono ver"
                  class="product-icon"
                />
                <img
                  src="./Images/Vectormas.svg"
                  alt="icono mas"
                  class="product-icon"
                />
              </div>
            </div>
          </div>

          <div class="product-item">
            <img
              src="./Images/product-img2.png"
              alt="foto producto"
              class="product-img"
            />
            <div class="product-info">
              <div class="product-info-text">
                <div class="product-text">
                  <p class="product-name">
                    Conjunto Alpinestars Fluid Tripple Motocross Mx 999m
                  </p>
                  <p class="product-price">$ 114.381</p>
                </div>
                <div class="product-envio">
                  <img
                    src="./Images/truck.svg"
                    alt="icono envio"
                    class="envio-icon"
                  />
                  <p class="product-envio-text">Envio gratis</p>
                </div>
              </div>
              <div class="icons-container">
                <img
                  src="./Images/Vector.svg"
                  alt="icono favorito"
                  class="product-icon"
                />
                <img
                  src="./Images/ojo.svg"
                  alt="icono ver"
                  class="product-icon"
                />
                <img
                  src="./Images/Vectormas.svg"
                  alt="icono mas"
                  class="product-icon"
                />
              </div>
            </div>
          </div>

          <div class="product-item">
            <img
              src="./Images/product-img3.png"
              alt="foto producto"
              class="product-img"
            />
            <div class="product-info">
              <div class="product-info-text">
                <div class="product-text">
                  <p class="product-name">
                    Casco Moto Givi X21 Shiver Challenger
                  </p>
                  <p class="product-price">$ 142.730</p>
                </div>
                <div class="product-envio">
                  <img
                    src="./Images/truck.svg"
                    alt="icono envio"
                    class="envio-icon"
                  />
                  <p class="product-envio-text">Envio gratis</p>
                </div>
              </div>
              <div class="icons-container">
                <img
                  src="./Images/Vector.svg"
                  alt="icono favorito"
                  class="product-icon"
                />
                <img
                  src="./Images/ojo.svg"
                  alt="icono ver"
                  class="product-icon"
                />
                <img
                  src="./Images/Vectormas.svg"
                  alt="icono mas"
                  class="product-icon"
                />
              </div>
            </div>
          </div>

          <div class="product-item">
            <img
              src="./Images/product-img4.png"
              alt="foto producto"
              class="product-img"
            />
            <div class="product-info">
              <div class="product-info-text">
                <div class="product-text">
                  <p class="product-name">Bolso Moto Givi Sillin</p>
                  <p class="product-price">$ 121.777</p>
                </div>
                <div class="product-envio">
                  <img
                    src="./Images/truck.svg"
                    alt="icono envio"
                    class="envio-icon"
                  />
                  <p class="product-envio-text">Envio gratis</p>
                </div>
              </div>
              <div class="icons-container">
                <img
                  src="./Images/Vector.svg"
                  alt="icono favorito"
                  class="product-icon"
                />
                <img
                  src="./Images/ojo.svg"
                  alt="icono ver"
                  class="product-icon"
                />
                <img
                  src="./Images/Vectormas.svg"
                  alt="icono mas"
                  class="product-icon"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer"><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
