<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/footer.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <footer class="footer-info">
      <img src="./Images/logo-inv.svg" alt="logo" class="logo-footer" />

      <div class="footer-desktop">
        <ul class="nav-footer-desktop">
          <a href="/" class="nav-footer--item">Inicio</a>
          <a href="/#nosotros" class="nav-footer--item">Nosotros</a>
          <a href="/#categorias" class="nav-footer--item">Categorias</a>
          <a href="/cart" class="nav-footer--item">Carrito</a>
        </ul>

        <p class="copy-desktop">Copyright © 2023 Nomada</p>
      </div>

      <div class="social-media">
        <img
          src="./Images/youtube.svg"
          alt="youtube icon"
          class="footer-icon youtube"
        />
        <img
          src="./Images/instagram.svg"
          alt="instagram icon"
          class="footer-icon instagram"
        />
        <img
          src="./Images/facebook.svg"
          alt="facebook icon"
          class="footer-icon facebook"
        />
      </div>

      <ul class="nav-footer">
        <a href="/" class="nav-footer--item">Inicio</a>
        <a href="/#nosotros" class="nav-footer--item">Nosotros</a>
        <a href="/#categorias" class="nav-footer--item">Categorias</a>
        <a href="/cart" class="nav-footer--item">Carrito</a>
      </ul>

      <p class="copy">Copyright © 2023 Nomada</p>
    </footer>
  </body>
</html>
